# Data Preprocessing Turnos

## Libraries

In [1]:
import pandas as pd
import numpy as np

## Turnos

### Loading Data

In [14]:
df_turnos = pd.read_excel("Turnos Pacientes.xlsx")

### Treating Null Values

In [15]:
df_turnos.isnull().sum()

Sucursal                       0
FechaID                        0
HoraLLegada                    0
TurnoID                        0
Turno                          0
TurnoTipo                      0
TurnoHoraInicio                0
TurnoHoraFin                   0
TurnoMinutosEspera             0
TAPRecepcionMinutos        13186
TAPRecepcionCaja           13186
PacienteID                 22516
PacienteSP                 22516
PacienteGenero             22516
PacienteFechaNacimiento    22516
PacienteCodigoPostal       24194
dtype: int64

In [16]:
### Calcular la media de TurnoMinutosEspera y TAPRecepcionMinutos por cada sucursal
# Calcular las medias por sucursal
medias_por_sucursal = df_turnos.groupby('Sucursal').agg({
    'TurnoMinutosEspera': 'mean',
    'TAPRecepcionMinutos': 'mean'
}).reset_index()

# Mostrar el resultado
print("Medias por sucursal:")
display(medias_por_sucursal)

# Opcional: Guardar en un archivo Excel

Medias por sucursal:

                   Sucursal  TurnoMinutosEspera  TAPRecepcionMinutos
0                  COYOACAN            3.829887             4.579268
1                  CULIACAN            2.639769             4.093033
2          CULIACAN CAÑADAS            4.430737             3.803400
3  CULIACAN COLEGIO MILITAR            4.319379             3.981984
4     CULIACAN LA CONQUISTA            4.600687             3.483685
5       CULIACAN LAS TORRES            3.858902             4.296550
6         CULIACAN NAKAYAMA            4.872247             3.516931
7   CULIACAN UNIVERSITARIOS            4.637161             3.630169

In [ ]:
medias_por_sucursal.to_excel('medias_por_sucursal.xlsx')

In [10]:
medias_dict = medias_por_sucursal.set_index(['Sucursal']).to_dict('index')

In [11]:
def imputar_tap_recepcion(row):
    if pd.isnull(row['TAPRecepcionMinutos']):

        media = medias_dict.get((row["Sucursal"]), {}).get("TAPRecepcionMinutos", 0)

        return media
    return row['TurnoMinutosEspera']

df_turnos['TAPRecepcionMinutos'] = df_turnos.apply(imputar_tap_recepcion, axis=1)

### Saving Cleaned Data

In [17]:
df_turnos.to_excel("Turnos Pacientes Limpios.xlsx", index=False)